
@{
    ViewBag.Title = "Showresultbyreg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/result.css" rel="stylesheet" />
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Final result <small>Academic year final result</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <section class="content invoice">
                        <div class="row invoice-info result-info">
                            <div class="col-sm-4 invoice-col" style="width: 25%; display: inline-block;">
                                <img class="logo-img" src="~/images/logo.jpeg" />
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col" style="width: 50%; display: inline-block;">
                                To
                                <address>
                                    <strong>John Doe</strong>
                                    <br>795 Freedom Ave, Suite 600
                                    <br>New York, CA 94107
                                    <br>Phone: 1 (804) 123-9876
                                    <br>Email: jon@ironadmin.com
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col" style="width: 25%; display: inline-block;">
                                <img class="logo-img" src="~/images/logo.jpeg" />
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row profile-dv">
                            <div class="col-sm-12 col-md-12 col-xs-12 header-d1">
                                <div class="bdy-d2">
                                    <div class="col-sm-12 col-md-12 col-xs-12 body-d4">
                                        STUDENT'S PROFILE
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-xs-12 body-tbl">
                                        <table class="col-sm-6 col-md-6 col-xs-12 header-tbl1">
                                            <tbody>
                                                <tr>
                                                    <td>Name of the Student</td>
                                                    <td><b>:</b>&nbsp; Kamran ali khan</td>
                                                </tr>
                                                <tr>
                                                    <td>Father's Name</td>
                                                    <td><b>:</b>&nbsp; Badar ali khan</td>
                                                </tr>
                                                <tr>
                                                    <td>Mother's Name</td>
                                                    <td><b>:</b>&nbsp; Nikhat Ara</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact Number</td>
                                                    <td><b>:</b>&nbsp; 9888787273</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="col-sm-6 col-md-6 col-xs-12 header-tbl2">
                                            <tbody>
                                                <tr>
                                                    <td>Class and Section</td>
                                                    <td><b>:</b>&nbsp; 9-C</td>
                                                </tr>
                                                <tr>
                                                    <td>Roll No.</td>
                                                    <td><b>:</b>&nbsp; 29</td>
                                                </tr>
                                                <tr>
                                                    <td>Bill No.</td>
                                                    <td><b>:</b>&nbsp; 13-0460</td>
                                                </tr>
                                                <tr>
                                                    <td>DOB</td>
                                                    <td><b>:</b>&nbsp; 10-12-1996</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="bdy-d3">
                                    <img class="profile-img" src="~/images/picture.png" />
                                </div>
                            </div>
                        </div>
                        <div class="row fullbd title-top">
                            <div class="title-dv">
                                SCHOLASTIC AREAS
                            </div>
                        </div>
                        <div class="row content-dv">
                            <div class="col-sm-12 col-md-12 col-xs-12 nopadding nomargin">
                                <table class="rs-tbl">
                                    <thead class="result">
                                        <tr>
                                            <th style="border-bottom: 0px;"></th>
                                            <th class="center" colspan="4">FINAL TERM</th>
                                            <th style="border-bottom: 0px;"></th>
                                            <th style="border-bottom: 0px;"></th>
                                        </tr>
                                        <tr>
                                            <th style="border-top: 0px;" rowspan="2">SUBJECTS</th>
                                            <th>Priodic Test (10)</th>
                                            <th>Notebook (5)</th>
                                            <th>Subject Enrichment (5)</th>
                                            <th>Annual Exam (80)</th>
                                            <th style="border-top: 0px;">Marks Obtained</th>
                                            <th style="border-top: 0px;">Grade</th>
                                        </tr>
                                    </thead>
                                    <tbody class="result">
                                        <tr>
                                            <td>English</td>
                                            <td>9</td>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>59</td>
                                            <td>76</td>
                                            <td>B1</td>
                                        </tr>
                                        <tr>
                                            <td>Hindi</td>
                                            <td>9</td>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>59</td>
                                            <td>76</td>
                                            <td>B1</td>
                                        </tr>
                                        <tr>
                                            <td>Mathamatics</td>
                                            <td>9</td>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>59</td>
                                            <td>76</td>
                                            <td>B1</td>
                                        </tr>
                                        <tr>
                                            <td>Science</td>
                                            <td>9</td>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>59</td>
                                            <td>76</td>
                                            <td>B1</td>
                                        </tr>
                                        <tr>
                                            <td>Social Science</td>
                                            <td>9</td>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>59</td>
                                            <td>76</td>
                                            <td>B1</td>
                                        </tr>
                                        <tr>
                                            <td>Foundation of IT</td>
                                            <td>9</td>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>59</td>
                                            <td>76</td>
                                            <td>B1</td>
                                        </tr>
                                        <tr>
                                            <td class="td-text center">Scholastics area's of <br />grading scales</td>
                                            <td colspan="6">
                                                A1: 91-100,&nbsp; A2: 81-90,&nbsp; B1: 71-80,&nbsp; B2: 61-70,
                                                &nbsp; C1: 51-60,&nbsp;
                                                C2: 41-50,&nbsp; D: 33-40,&nbsp; E: 0-32 (Failed)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 nopadding nomargin" style="margin-top: 4px;">
                                <div class="grad-desc nopadding nomargin">
                                    <table class="rs-tbl atten">
                                        <thead>
                                            <tr>
                                                <th>CO-SCHOLASTIC AREAS</th>
                                                <th>GRADE<br />(A-E)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>WORK EDUCATION</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>ART EDUCATION</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>HEALTH AND PHYSICAL <br />EDUCATION</td>
                                                <td>B</td>
                                            </tr>
                                            <tr>
                                                <td>DESCIPLINE</td>
                                                <td>A</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="rs-tbl atten" style="margin-top: 10px;">
                                        <thead>
                                            <tr>
                                                <th colspan="2">ATTENDENCE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>No of</td>
                                                <td>219</td>
                                            </tr>
                                            <tr>
                                                <td>No of</td>
                                                <td>194</td>
                                            </tr>
                                            <tr>
                                                <td>Attendence</td>
                                                <td>80</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="grad-graph nopadding nomargin">
                                    <div class="x_panel" style="padding-bottom: 15px;">
                                        <div class="x_content">
                                            <div id="graph_bar" style="width:100%; height:226px;"></div>
                                        </div>
                                        <div class="char-text">
                                            Obtained Marks
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 nopadding nomargin">
                                <div class="remark-dv">
                                    Remarks
                                </div>
                                <div class="remark-text">
                                    Has done fairly well and has lots of potential to shine brighter.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="nopadding nomargin result-footer">
                                <div class="signature-dv">
                                    Class teacher signature.
                                </div>
                            </div>
                            <div class="nopadding nomargin result-footer">
                                <div class="stamp">
                                    SCHOOL STAMP
                                </div>
                            </div>
                            <div class="nopadding nomargin result-footer">
                                <div class="signature-dv">
                                    Principle signature.
                                </div>
                            </div>
                        </div>
                        <!-- this row will not appear when printing -->
                        <div class="no-print">
                            <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/vendors/raphael/raphael.min.js"></script>
<script src="~/vendors/morris.js/morris.min.js"></script>
