
@{
    ViewBag.Title = "GrothRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" ng-controller="GrothRateCtrl">
    <h1>Hello from Grouth Rate</h1>
</div>    
<script src="~/Scripts/grothRate.js"></script>