
@{
    ViewBag.Title = "Backend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" role="main" ng-controller="staffReportCtrl">
    <div class="schema-table">

    </div>
</div>