@{
    ViewBag.Title = "AddGoods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/goodsandvendor.css" rel="stylesheet" />
<div class="right_col" role="main">
    <div ng-controller="addVendorGoodsCtrl" id="vendorGoods" ng-click="hideDynamicDdl()">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
                <input type="hidden" id="searchstring" value="" />
                <input type="hidden" id="pageindex" value="" />
                <input type="hidden" id="sortby" value="" />
                <div class="x_panel">
                    <div class="x_title">
                        <h2>School faculty <small>Faculty minimum info.</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="actionBar vendor-selection">
                        <div class="" id="select-vendor">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12 lbl-name">Vendor Name</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control col-md-4 col-xs-4" type="select" id="SelVender" ng-model="vendor.ExistingVendorUid" name="ExistingVendorUid"
                                        ng-click="validateDropDown()">
                                    <option selected="selected" value="">Select Vendor</option>
                                    <option ng-repeat="objVendor in VendorDetail" value="{{objVendor.VendorUId}}">
                                        {{objVendor.FullName}} &nbsp;[{{objVendor.ShopName}}]
                                    </option>
                                </select>
                            </div>
                        </div>
                        <a href="javascript:void(0)" id="prevbtn" ng-click="AddVendor()" class="buttonPrevious btn btn-primary">Add Vendor</a>
                    </div>
                    <div id="vendor-dv" class="row" style="display: none;">
                        <div class="col-md-12 col-xs-12 x_panel">
                            <div class="x_title">
                                <h2>Add New Vendor<small>Complete information about vendor</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title" style="margin-bottom: 0px;">
                                        <h2>Vendor Personal Detail <small>Insert vendor specific information.</small></h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <br />
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-md-1 col-sm-1 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                                                    Shop Name<span class="required">*</span>
                                                </label>
                                                <div class="col-md-11 col-sm-11 col-xs-12">
                                                    <input type="text" id="ShopName" name="ShopName" class="form-control" ng-keyup="validateInput()"
                                                           placeholder="Shop Name" ng-model="vendor.ShopName" value="" validate="1">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                <input type="text" class="form-control has-feedback-left" id="SellerFirstName" name="SellerFirstName" ng-keyup="validateInput()"
                                                       placeholder="Vendor First Name" ng-model="vendor.SellerFirstName" value="">
                                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                <input type="text" class="form-control" id="SellerLastName" name="SellerLastName" ng-keyup="validateInput()"
                                                       placeholder="Vendor Last Name" ng-model="vendor.SellerLastName" value="">
                                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                <input type="text" class="form-control has-feedback-left" id="Email" name="Email" ng-keyup="validateInput()"
                                                       placeholder="Email" ng-model="vendor.Email" value="">
                                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                <input type="text" class="form-control" id="Mobile" name="Mobile" ng-keyup="validateInput()" validate="1"
                                                       ng-keypress="maskmobile()" placeholder="Mobile number" ng-model="vendor.Mobile" value="">
                                                <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                                            </div>
                                            <div class="x_title" style="margin-bottom: 10px;margin-top: 110px;">
                                                <h2>Bank Account<small>Insert bank account related information.</small></h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-1 col-sm-1 col-xs-12" style="width: 10%;">BankName</label>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <select class="form-control col-md-4 col-xs-4" type="select" validate="1" id="BankName" ng-model="vendor.BankName" name="BankName"
                                                            ng-change="validateDropDown()">
                                                        <option selected="selected" value="">Select Bank</option>
                                                        <option value="HDFC">HDFC</option>
                                                        <option value="ICICI">ICICI</option>
                                                        <option value="Kotak Mahindra">Kotak Mahindra</option>
                                                        <option value="SBI">SBI</option>
                                                        <option value="UBI">Union bank of India</option>
                                                        <option value="Axis">Axis Bank</option>
                                                        <option value="CBI">Central bank of India</option>
                                                        <option value="IDBI">IDBI</option>
                                                        <option value="BOI">Bank of India</option>
                                                        <option value="Canara Bank">Canara Bank</option>
                                                        <option value="Yes Bank">Yes Bank</option>
                                                        <option value="HSBC">HSBC</option>
                                                        <option value="Syndicate Bank">Syndicate Bank</option>
                                                        <option value="UCO Bank">UCO Bank</option>
                                                        <option value="Allahabad Bank">Allahabad Bank</option>
                                                        <option value="Bank of baroda">Bank of baroda</option>
                                                        <option value="Indusland">Indusland</option>
                                                    </select>
                                                </div>
                                                <label class="control-label col-md-1 col-sm-1 col-xs-12" style="width:15%;">Account No.</label>
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    <input type="text" name="AccountNo" id="AccountNo" validate="1" placeholder="Account No." ng-model="vendor.AccountNo"
                                                           ng-keyup="validateInput()" class="form-control col-md-10" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-1 col-sm-1 col-xs-12" style="width: 10%;">IFSC Code</label>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <input type="text" name="IFSCCode" id="IFSCCode" placeholder="IFSC Code" ng-model="vendor.IFSCCode" ng-keyup="validateInput()"
                                                           class="form-control col-md-10" validate="1" />
                                                </div>
                                                <label class="control-label col-md-1 col-sm-1 col-xs-12" style="width: 15%;">GSTIN No.</label>
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    <input type="text" id="GSTIN" name="GSTIN" class="form-control" ng-keyup="validateInput()"
                                                           placeholder="Your GST IN" ng-model="vendor.GSTIN" value="" validate="1">
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-bottom: 4px;margin-top:7px;">
                                                <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;margin-bottom: 6px;">
                                                    Address <span class="required">*</span>
                                                </label>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <textarea type="text" class="form-control" rows="4" ng-keyup="validateInput()" ng-model="vendor.FullAddress"
                                                              id="FullAddress" name="FullAddress" placeholder="Address" validate="1"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action vendor-table">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Item</th>
                                        <th class="column-title">Company</th>
                                        <th class="column-title">Item name</th>
                                        <th class="column-title" style="width: 10%;">HSN</th>
                                        <th class="column-title" style="width: 10%;">S-Price</th>
                                        <th class="column-title" style="width: 10%;">MRP</th>
                                        <th class="column-title" style="width: 8%;">Unit</th>
                                        <th class="column-title" style="width: 8%;">M-Qty</th>
                                    </tr>
                                </thead>
                                <tbody id="item-body">
                                    <tr id="first-item" name="record-row" tabindex="0">
                                        <td>
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="Item" ng-keyup="maskTextBox()"
                                                       placeholder="Item" value="">
                                                <a ng-click="showoptions()" class="fa fa-angle-down right" aria-hidden="true"></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="Company" ng-keyup="maskTextBox()"
                                                       placeholder="Company name" value="">
                                                <a ng-click="showCompany()" class="fa fa-angle-down right" aria-hidden="true"></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="ItemName" ng-keyup="maskTextBox()"
                                                       placeholder="Item name" value="">
                                                <a ng-click="showItemName()" class="fa fa-angle-down right" aria-hidden="true"></a>
                                            </div>
                                        </td>
                                        <td style="width: 10%;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="HSNCode" ng-keyup="maskTextBox()"
                                                       placeholder="HSN Code" value="">
                                                <input type="hidden" name="itemcode" value="" />
                                                <a ng-click="showHsnCode()" class="fa fa-angle-down right" aria-hidden="true"></a>
                                            </div>
                                        </td>
                                        <td style="width: 10%;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="SellingPrice" ng-keypress="OnlyFloat()"
                                                       ng-keyup="maskTextBox()" placeholder="S-Price" value="">
                                            </div>
                                        </td>
                                        <td style="width: 10%;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="MRP" ng-keypress="OnlyFloat()"
                                                       ng-keyup="maskTextBox()" placeholder="MRP" value="">
                                            </div>
                                        </td>
                                        <td style="width: 8%;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="Unit" ng-keypress="OnlyNumber()"
                                                       ng-keyup="maskTextBox()" placeholder="Unit" value="">
                                            </div>
                                        </td>
                                        <td style="width: 8%;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="MQty" ng-keypress="CloneNew()"
                                                       ng-keyup="maskTextBox()" placeholder="M-Qty" value="">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="default">
                                        <td>
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="Item" ng-click="varifyAddRow()"
                                                       placeholder="<Item>" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="Company" ng-click="varifyAddRow()"
                                                       placeholder="<Company name>" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="ItemName" ng-click="varifyAddRow()"
                                                       placeholder="<Item name>" value="">
                                            </div>
                                        </td>
                                        <td style="width: 10%;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="HSNCode" ng-click="varifyAddRow()"
                                                       placeholder="<HSN Code>" value="">
                                            </div>
                                        </td>
                                        <td style="width: 10%;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="SellingPrice" ng-click="varifyAddRow()"
                                                       ng-keyup="maskTextBox()" placeholder="<S-Price>" value="">
                                            </div>
                                        </td>
                                        <td style="width: 10%;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="MRP" ng-click="varifyAddRow()"
                                                       ng-keyup="maskTextBox()" placeholder="<MRP>" value="">
                                            </div>
                                        </td>
                                        <td style="width: 8%;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="Unit" ng-click="varifyAddRow()"
                                                       ng-keyup="maskTextBox()" placeholder="<Unit>" value="">
                                            </div>
                                        </td>
                                        <td style="width: 8%;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 no-spacing form-group has-feedback">
                                                <input type="text" class="form-control" name="MQty" ng-click="varifyAddRow()"
                                                       ng-keyup="maskTextBox()" placeholder="<M-Qty>" value="">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="action-dv">
                            <a href="javascript:void(0)" id="nextbtn" ng-click="resetall()" class="buttonNext btn btn-success">Reset</a>
                            <a href="javascript:void(0)" id="prevbtn" ng-click="AddGoods()" class="buttonPrevious btn btn-primary">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var VendorRecord = @Html.Raw(@ViewBag.Vendors)
</script>
<script src="~/Scripts/addvendorgoods.js"></script>